<footer class="info">
  <p>Doble-click para editar una tarea</p>
  <!-- Remove the below line ↓ -->
  <p>Template de <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Creado por <a href="http://todomvc.com">Cokeloque</a></p>
  <p>Parte de <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
