<!-- This footer should hidden by default and shown when there are todos -->
<footer class="footer">
  <!-- This should be `0 items left` by default -->
  <span class="todo-count"><strong>{{pending}}</strong> tareas pendientes</span>
  <!-- Remove this if you don't implement routing -->
  <!-- class="selected" -->
  <ul class="filters">
    <li *ngFor="let filterText of filters">
      <a (click)="filtering(filterText.key)" [class.selected]="activeFilter === filterText.key">{{filterText.value}}</a>
    </li>

  </ul>
  <!-- Hidden if no completed items are left ↓ -->
  <button class="clear-completed" (click)="destroyCompleteTodo()">Quitar completedas</button>
</footer>
