<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
<li [class.completed]="todo.completed" [class.editing]="editing">
  <div class="view">
    <input class="toggle" type="checkbox" [formControl]="completedForm">
    <label (dblclick)="edit()">{{todo.task}}</label>
    <button class="destroy" (click)="destroy()"></button>
  </div>
  <input class="edit" type="text" [formControl]="taskForm" (blur)="endEdit()" (keyup.enter)="endEdit()" #inputTask>
</li>
